:root {
  }
  
  * {
    list-style-type: none;
    text-decoration: none;
    list-style-type: none;
    font-family: "roboto";
    font-size: 1.3vw;
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
  }

  body {
    display: grid;
    grid-template: 6rem 1fr 3rem / 1fr;
    height: 100%;
    width: 100%;
  }

  
body::-webkit-scrollbar-track {
  background: rgb(54, 53, 53);
}

body::-webkit-scrollbar-thumb {
  background: blueviolet;
}

  header {
    background-color: blueviolet;

  }

  nav {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100vw;
  }

  nav ul {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .nav-link {
    display: inline-block;
    padding: 0rem 5rem;
  }

  .logo {
    margin-right: 2rem;
    margin-left: auto;
  }


  .logo img {
    width: auto;
    height: 5vw;
    border:  solid;
    border-radius: 1vw;
  }

  main {
     display: grid;
     grid-template: 200vh / 1fr 4fr;
     background-color: darkgray;
  }

  .list-root-container {
    display: grid;
    grid-template: 2rem 1fr / repeat(7, 1fr);
    background-color: aquamarine;
  }


  .list-root {
    word-wrap: break-word;
    padding: 1rem 1rem;
  }

  #app-root {
    background-color: burlywood;
  }

  footer {
    background-color: rgb(2, 7, 5);
  }

  .invisible {
    display: none;
  }