:root {
  }
  
  * {
    list-style-type: none;
    text-decoration: none;
    list-style-type: none;
    font-family: "roboto";
    font-size: 1.3vw;
    margin: 0%;
    padding: 0%;
  }

  body {
    display: grid;
    grid-template: 6rem 1fr 3rem / 1fr;
    height: 100%;
    width: 100%;

  }

  header {
      height: 6rem;
      background-color: blue;
  }

  main {
     display: grid;
     grid-template: 50rem / 0.75fr 1.25fr;
     background-color: darkgray;
  }

  footer {
    background-color: aquamarine;
  }