

  * {
    list-style-type: none;
    text-decoration: none;
    font-family: "roboto";
    font-size: 1.3vw;
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
  }

  body {
    display: grid;
    grid-template: 18vh 1fr 10vh / 1fr;
    height: 100%;
    width: 100%;
  }

  
body::-webkit-scrollbar-track {
  background: rgb(54, 53, 53);
}

body::-webkit-scrollbar-thumb {
  background: blueviolet;
}

  header {
    background-color: blueviolet;

  }

  nav {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100vw;
  }

  nav ul {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .nav-link {
    display: inline-block;
    padding: 0rem 5rem;
  }

  .logo {
    margin-right: 2rem;
    margin-left: auto;
  }


  .logo img {
    width: auto;
    height: 5vw;
    border:  solid;
    border-radius: 1vw;
  }

  main {
     display: grid;
     grid-template: 1fr / 1fr 4fr;
     background-color: darkgray;
     min-height: 72vh;
  }

  .list-root-container {
    display: grid;
    grid-template: 2rem 1fr / repeat(7, 1fr);
    background-color: aquamarine;
  }


  .list-root {
    border-left: 0.01rem solid;
    word-wrap: break-word;
    padding: 0.45rem 0.45rem;
    background-color: #e5e5e5;
    grid-auto-rows: 100px;
  }

  .list-root li {
    margin-bottom: 0.5rem;
    list-style-position: inside; 
    list-style-type: decimal;
  }

  #app-root {
    background-color: burlywood;
  }

  footer {
    background-color: chartreuse;
  }

  .invisible {
    display: none;
  }